<h2>Project Cost Analysis Report</h2>



<h3>Project: <%=@issue_hierarchy.selected_project.name%></h3>
<h3>Start Date: <%=@issue_hierarchy.start_date%></h3>
<h3>End Date: <%=@issue_hierarchy.end_date%></h3>
<table>
  <thead align="left">
  <tr>
    <th>Issue</th>
    <th>Time Spent</th>
    <th>Cost Incurred</th>
    <th>Chargeable Amount</th>
    <th>Non-Chargeable Amount</th>
    <th>Quoted Amount</th>
    <th>Budget Remaining</th>
  </tr>
  </thead>
  <tbody>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td width="500">
      Project: <%=@issue_hierarchy.selected_project.name%>
    </td>
    <td width="150">
      <%=@issue_hierarchy.total_time_spent.round(2)%>
    </td>
    <td width="150">
      <%=@issue_hierarchy.total_cost_incurred.round(2)%>
    </td>
    <td width="150">
      <%=@issue_hierarchy.total_chargeable_amount.round(2)%>
    </td>
    <td width="150">
      <%=@issue_hierarchy.total_non_chargeable_amount.round(2)%>
    </td>

  </tr>
  <% @issue_hierarchy.issue_items.each do |issue_item| %>

  <tr class="<%= cycle 'odd', 'even' %>">
    <td width="500">
      &nbsp;
      <%issue_item.indent.times do%>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%end%>
    Issue: <%=issue_item.id%>
    <%=issue_item.subject[0..50]%>
    </td>
    <td width="150">
      <%=issue_item.calculated_values.time_spent.round(2)%>
    </td>
    <td width="150">
      <%=issue_item.calculated_values.cost_incurred.round(2)%>
    </td>
    <td width="150">
      <%=issue_item.calculated_values.chargeable_amount.round(2)%>
    </td>
    <td width="150">
      <%=issue_item.calculated_values.non_chargeable_amount.round(2)%>
    </td>
    <td width="150">
      <%=issue_item.quoted_amount%>
    </td>
    <td width="150">
      <%=issue_item.remaining_budget.round(2)%>
    </td>

  </tr>
  <% end %>


  <tbody>

</table>



